


header {
  background: black;
  border-bottom: blue 4px solid;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav {
  float: right;
  margin-top: -50px;
  font-weight: bolder;
  font-size: 20px;
  color: blue;
}

body {
  background-image: url(https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg);
}


a {
    padding-right: 30px;
    color: gray;
}

h1 {
    color: white;
    padding: 10px;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 150px;
}

h2 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid grey; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
   
  input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


.contactName {
  margin-left: 15%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
  
 
  input[type=submit]:hover {
    background-color: green;
  }

#form {
  margin-left: 15%;
  margin-right: 15%;
}

.footer {
  width: 100%;
  padding-bottom: 30px;
  background-color: black;
  color: white;
  height: 25px;
  text-align: center;
  margin-top: 95px;
  font-size: 10px;
  padding-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
}

 .jumbotron {
   margin-left: 13%;
   margin-right: 13%;
 }

 .card {
  margin-left: 50px;
 }

 #cardTwo {
   padding-bottom: 25px;
 }

 #buttonTwo {
   margin-top: 40px;
   margin-bottom: -30px;
 }