
header {
    background: black;
    border-bottom: blue 4px solid;
    padding-top: 30px;
    padding-bottom: 30px;
}


nav {
    float: right;
    margin-top: -50px;
    font-weight: bolder;
}




 .footer {
    width: 100%;
    padding: 10px;
    background-color: #615959;
    color: white;
    height: 25px;
    text-align: center;
    margin-top: 95px;
    font-size: 10px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
 }

 ul {
     font-size: 20px;
     padding-top: 20px;
 }
