body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.container {
    width: 960px;
    height: 100%;
    margin: auto;
    background: white;
    line-height: 2;
    font-size: 15px;
}

header {
    Background: white;
    border-bottom: gray 4px solid;
    padding-top: 15px;; 
}

nav {
    float: right;
    padding-right: 30px;
    margin-top: -90px;
}

a {
    padding-right: 30px;
    color: gray;
}

h1 {
    background: #4aaaaf;
    color: white;
    padding: 10px;
    width: 165px;
    text-align: center;
    margin-bottom: 0px;
}

h2 {    
    color: #4aaaaf;
    font-size: x-large;
    width: 165px;
    text-align: left;   
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid grey; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
   
  input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
    background-color: green;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .footer {
    width: 100%;
    padding: 10px;
    background-color: #615959;
    color: white;
    height: 25px;
    text-align: center;
    margin-top: 95px;
    font-size: 10px;
    padding-top: 20px;
 }
  